@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Odibee Sans', cursive;

}

.background-signup{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(EPL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-link{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}



a.nav-link:hover{
  color: rgba(0, 0, 0, 1);
  background-color: rgba(5, 242, 155, 1);
  border-radius: 10%;
  transition: 0.8s;
}

a.box{
  text-decoration: none;
  color: white;
}

.center{
	margin-left: 200px;
	margin-right: 200px;
    margin-top: 50px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 50px;
	border-radius: 10%;
	position: relative;
	display: block;
}

.signup-button{
	margin-left: 40px;
	font-size: 35px;
	
}

.signup-button:hover{
	 cursor: pointer;
}

.action-links{
	margin-left: 70px;
	margin-right: 70px;
	font-size: 30px;
	color: white;
	
    padding: 5px;
    
    
}

.action-links:hover{
	background-color: rgba(5, 242, 155, 1);
	color: black;
	transition: 0.8s;
	text-decoration: none;
}

p.form-elements{

    font-size: 30px; 
    color: white; 
    margin-left: 40px;
    margin-right: 50px;
}

.inputs{
    font-size: 30px;
}

form.Sign-up{
    margin-left: 100px;
}

